* {
    box-sizing: border-box;
  }
  body {
      text-align: center;
      margin: 100px auto;
      border: 3px solid silver;
      height: 500px;
      width: 750px;
  }
  #headline {
      background-color: rgb(148, 195, 128);
      font-size: 30px;
      color: whitesmoke; 
      height: 50px;
      padding: 10px;
  }
  input {
      text-align: center;
      border: 4px solid rgb(111, 214, 111);
      border-radius: .3rem;
      font-size: 1.3rem;
  }
  #button {
    font-size: 1.3rem;
    color: rgb(148, 195, 128);
    border: 4px solid rgb(111, 214, 111);
  }

  .list {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      padding-bottom: 15px;
  }
  .buttonX {
      background-color: rgb(222, 102, 105);
  }

 